 @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap'); 
.open-sans-normul {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* nav style */
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
   margin: 0 200px; 
}
/* shares style */
.name .span-class{
  color:#FD6E0A ;
}
main section{
  margin-top: 130px;
  margin-bottom: 130px;
}
.secondary-bg{
background-color: #FFF8F3;
}
.about{
  border-radius: 10px;
  padding: 130px 150px;
  text-align: center;

}
.about-items{
  display: flex;
  justify-content: space-around;
}
 .about-description{
  color:#FFFFFF ;
 }
.about-title{
  font-size: 35px;
  font-weight: bold;
  color: #181818;
}
.about-description{
  font-weight: 600px;
  font-size: 18px;
  color: #757575;
}

main{
  max-width: 1140px;
  margin: 0 auto;

}
.name{
  font-weight: 800px;
  font-size: 45px;
}
nav ul li{
  list-style: none;
  margin-right:50px ;
}
nav li a{
  text-decoration: none;
  font-size: 20px;
}
.dark2{
  color: #474747;
}
nav ul{
  display: flex;
  align-items: center;
}
.btn-primary{
  background-color: #FD6E0A;
  color: white;
  border-radius: 5px;
  font-size: 20px;
  padding: 18px 32px;
  font-weight: bold;
  border: none;

}
/* header style */
.header{
  background-image: url("../images/developer.png") , url("../images/header_bg.png");
  background-repeat: no-repeat;
  background-position: top left,bottom right;
}
/* banner styles */
.subtitle{
  font-weight: 600px;
  font-size: 45px;
  color: #474747;
}
.title{
 font-weight: 800px;
  font-size: 85px;
  color: #181818;
}
.p-description{
  font-size: 18px;
  /* color = dark 3 */
  color: #757575;
}
/* .banner-profile-pic{
  width: 580px;
} */
 .banner-content{
  min-width: 580px;
} 
 .banner{
  display: flex;
  justify-content: space-between;
  margin: 0 35px 0 200px;
 }
 /* section2 style */
 /* .section-div{
  display: flex;
  text-align: center;
 } */
 .section-title{
  font-size: 35px;
  font-weight: bold;
  color:#181818 ;
 }
 .text-center{
  text-align: center;
 }
.section-description{
  font-size: 18px;
  font-weight: 600px;
  color: #757575;
}
.skill-conteinar{ 
  display: flex;
  gap: 24px;
}
.skill-title{
  font-size: 20px;
  font-weight: bold;
  color: #181818;
}
.skill-description{
  font-size:16px ;
  font-weight: 600px;
  color: #757575;
}
.skill{
padding:30px ;
box-shadow: 0px 6px 50px 0px #6d6363 ;
border-radius: 5px;
}
.resuma-colum-title{
  font-weight: bold;
  font-size: 30px;
  /* dark 2 */
  color: #474747;
}
.experience-title{
  font-size: 25px;
  font-weight: bold;
  color:#474747 ;
}
.experiance-sub-title{
  font-size: 20px;
  font-weight: 600px;
  color:#757575 ;
}
.experiance-description{
  font-size: 16px;
  font-weight: 400px;
  /* dark=3 */
  color:#757575 ;
}
.resuma-conteiner{
  display: flex;
  gap: 24px;
  margin-left: 50px;
  margin-right: 50px;
}
.btn-conteiner{
  text-align: center;
  margin-top: 50px;
}